

<h2>Demo Grid</h2>

<hr>

<!--
<div class="row-fluid">
  <label style="color:green">Want to import records? Click the 'Reset Table' and choose a file below...</label>
  <span class='center-block' ui-grid-importer-menu-item></span>
<br>
<div class="custom-csv-link-location">
  <label style="color:blue">Want to download records? Select export csv in the menu dropdown from table : </label>
  <span class="ui-grid-exporter-csv-link">&nbsp</span>
</div>

<hr>

-->

<label>Which columns should we export?</label>
<select ng-model="export_column_type"</select>
  <option value='all'>All</option>
  <option value='visible'>Visible</option>
</select>
<label>Which rows should we export?</label>
<select ng-model="export_row_type"</select>
  <option value='all'>All</option>
  <option value='visible'>Visible</option>
  <option value='selected'>Selected</option>
</select>
<label>What format would you like?</label>
<select ng-model="export_format"</select>
  <option value='csv'>CSV</option>
  <option value='pdf'>PDF</option>
</select>
<button ng-click="export()">Export</button>
<div class="custom-csv-link-location">
  <label>Your CSV will show below:</label>
  <span class="ui-grid-exporter-csv-link">&nbsp</span>
</div>

<strong>Number of records: </strong> {{ gridOptions.data.length | number }}
<br>
<hr>


<div class="row">
  <div class="col-md-6">
    <button class="btn btn-warning center-block" ng-click="resetTable()">Reset Table?</button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary center-block" ng-click="loadTable()">Reload Table?</button>
  </div>
</div>

<br>
<br>
<div style="height:800px" ui-grid="gridOptions" class="grid" ui-grid-edit ui-grid-resize-columns ui-grid-selection ui-grid-exporter ui-grid-importer ui-grid-move-columns></div>
</div>
