
<div class="row text-center">
  <h3>All {{model}}s</h3>
  <button class="btn btn-info" ui-sref="{{url}}.grid">Export {{url}} data</button>
</div>
<hr?

<div class="row">
    <div class="row">
      <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">Search</span>
        <input type="text" ng-model="tableParams.filter()[first]" class="form-control" placeholder="{{model}} {{first}}">
      </div>
    </div>
      <div class="col-md-2 col-md-offset-4">
        <a ui-sref="{{url}}.new" class="btn btn-success">Add New {{model}}</a>
      </div>
    </div>
</div>

<div class="row-fluid">
  <table ng-table="tableParams" class="table">
    <tr>
      <td><b>{{first}}</b></td>
      <td><b>{{second}}</b></td>
      <td><b>{{third}}</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr ng-repeat="mod in $data">
      <td filter="tableParams.filter()|json">{{getColumn(mod,first)}}</td>
      <td>{{getColumn(mod,second)}}</td>
      <td>{{getColumn(mod,third)}}</td>
      <td><a class="btn btn-primary" ui-sref="{{url}}.view({id:mod.id})">View</a></td>
      <td><a class="btn btn-danger"  ng-click="delete(mod,mod.id)">Delete</a></td>
    </tr>
  </table>
</div>
