
<div class="panel panel-primary">
  <div class="panel-heading text-center">
    <h3>
      <b style="color:blue">{{modelOnly.NAME}} {{modelOnly.SITE_NAME}}</b>
      <a class="btn btn-default pull-right" ui-sref="data.edit({model:model,id:modelOnly.id})">Edit</a>
      <div class="btn btn-danger btn-sm pull-left" type="button" class="close" aria-label="Close" ui-sref="data.list({model:model})"><span aria-hidden="true">&times;</span></div>
    </h3>
  </div>

  <div class="panel-body">
    <ul style="list-style: none" ng-repeat="key in notSorted(modelOnly)" ng-init="value = modelOnly[key]">
      <li class="col-md-4"><b>{{key}}</b> : <i>{{value}}</i></li>
    </ul>
  </div>
</div>


<div class="panel panel-danger">
  <div class="panel-heading text-center"><h3><b>Related Info</b></h3></div>
  <div class="panel-body">

  <div ng-repeat="key in notSorted(modelArray)" class="col-md-4" ng-init="value = modelArray[key]">
    <h4 class="text-center">{{ removeNumbers(key) }} : {{value.NAME}} {{value.YEAR}}</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr ng-repeat="key2 in notSorted(value)" ng-init="value2 = value[key2]">
          <td>
            <b>{{key2}} : </b>
          </td>
          <td>
            <i>{{value2}}</i>
          </td>
        </tr>
      </table>
    </div>
  </div>

  </div>
</div>
