<!--Load Dynamic Form Recursively-->
<div>
	<div ng-if="value" ng-init="parentKey = model" ng-include="'value.html'"></div>
</div>

<button type="submit" class="btn btn-success"><span ng-show="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Submit</button>

<!--Recursive Form Template-->
<script type="text/ng-template" id="value.html">
	<span ng-switch="type(value)">
		<span ng-switch-when="string">
	    <div ng-if="(key.toUpperCase().indexOf('_ID') === -1)">
	      <label class="col-sm-4"><i>{{key}}</i></label>
	      <div class="col-sm-8">
	        <input type="text" ng-model="groupValue[key]" class="form-control" placeholder="{{key}}?"/>
	      </div>
	    </div>
	    <div ng-if="checkForParent(key)" ng-init="searchKey = key.toUpperCase().replace('_ID','')">
			{{searchKey}}
	        <span ng-init="getParent(searchKey)" ng-include="'parent.html'"></span>
	    </div>
		</span>
    <ul style="list-style-type:none" ng-switch-when="array">
      <h3 class="text-center"><b>{{key}}</b></h3>
      <div ng-repeat="key in notSorted($parent.value) track by $index" ng-init="groupValue = $parent.value; value = $parent.value[key]; parentKey = $parent.key">
        <h4 style="color:blue">{{$parent.key}} {{key}}</h4>
        <span ng-include="'value.html'"></span>
        <button ng-show="key-0 === $parent.value.length-1" ng-click="$event.preventDefault(); $parent.value.push(clearValues(value));" class="btn btn-info">Add {{$parent.key}}</button>
      </div>
    </ul>
		<ul style="list-style-type:none" ng-switch-when="hash">
			<div class="btn btn-sm btn-danger" ng-click="$event.preventDefault(); delete(parentKey, $parent.value.ID, $index)">Delete</div>
			<div ng-repeat="key in notSorted($parent.value) track by $index" ng-init="groupValue = $parent.value; value = $parent.value[key];">
        <span ng-include="'value.html'"></span>
			</div>
		</ul>
	</span>
</script>

<!--Search Template-->
<script type="text/ng-template" id="parent.html">
  <label for="{{key}}" class="col-sm-4">{{key}}</label>
  <div class="col-sm-8">
    <p style="color:green">Search for {{searchKey}}
      <ui-select ng-model="groupValue[key]" theme="selectize" ng-disabled="disabled">
        <ui-select-match placeholder="Select or search a {{searchKey}} in the list...">{{$select.selected.NAME}} <small>{{$select.selected.COUNTY}}</small><small>{{$select.selected.SPONSOR_TYPE}}</small></ui-select-match>
        <ui-select-choices repeat="option.ID as option in options[searchKey] | filter: $select.search">
          <span ng-bind-html="option.NAME | highlight: $select.search"></span>
          <small>
            <span ng-bind-html="option.COUNTY | highlight: $select.search"></span>
            <span ng-bind-html="option.SPONSOR_TYPE | highlight: $select.search"></span>
          </small>
        </ui-select-choices>
      </ui-select>
      <button class="btn btn-default btn-sm" ng-click="$event.preventDefault(); groupValue[key] = ''">Clear</button>
  </div>
</script>
