<div class="panel panel-info">
  <div class="panel panel-heading">
    <h3 class="text-center">{{contact.name}} <small>details</small>
      <button class="btn btn-danger pull-right" ng-click="closeContactView()">X</button>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div style="word-wrap:break-word" ng-show="removeUnneededData(key,value)" class="col-md-4" ng-repeat="(key,value) in contact">
        <b class="text-info">{{key}}</b> : <i>{{value}}</i>
      </div>
    </div>
  </br>
    <div class="row">
      <accordion>
        <accordion-group heading='{{key}}' ng-repeat="(key,value) in contactArray">
          <ul style="word-wrap:break-word" class="list-group col-md-4" ng-repeat="(key2,value2) in value">
            <li ng-show="removeUnneededData(key3,value3)" class="list-group-item" ng-repeat="(key3,value3) in value2">
              <b class="text-success">{{key3}}</b> : <i>{{value3}}</i>
            </li>
          </ul>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
