<style>
.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}
</style>

<div class="well primary">
  <h2 class="text-center">Create Account</h2>

  <form class="form-horizontal" name="createForm" role="form" ng-submit="create(createForm)" novalidate>
    <h4 style="color:red" class="text-center">{{message}}</h4>

    <div class="form-group" form-validation>
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-8">
        <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Email" required>
        <p class="help-block" ng-if="createForm.email.$error.required">email address is required</p>
        <p class="help-block" ng-if="createForm.email.$error.email">email address is invalid</p>
      </div>
    </div>

    <div class="form-group" form-validation>
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-8">
        <input type="password" name="password" ng-minlength='8' ng-model="user.password" class="form-control" placeholder="Password" required>
        <p class="help-block" ng-if="createForm.password.$error.required">password is required</p>
        <p class="help-block" ng-if="createForm.password.$error.minlength">password must be at least 8 characters</p>
      </div>
    </div>

    <div class="form-group" form-validation>
      <label for="password" class="col-sm-2 control-label">oregonASK key</label>
      <div class="col-sm-8">
        <input type="password" name="key" ng-model="user.key" class="form-control" placeholder="Key" required>
        <p class="help-block" ng-if="createForm.key.$error.required">key is required</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Create Account</button>
        <a href="" ng-click="reset()">Reset</a>
      </div>
    </div>

  </form>
</div>
