<h3 class="text-center">
  <b style="color:blue">Search for {{model}}s <span ng-show="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Data</b>
</h3>

{{searchModel}}

<div class="btn btn-primary" ng-click="search()">Export</div>

<h4>Select what you want to export</h4>
<ul ng-repeat="(key,value) in entity track by $index">
  <li><input type="checkbox" ng-click="addCol(0,key)"> {{key}}
    <ul ng-repeat="(key2,value2) in value track by $index">
    </li><input type="checkbox" ng-click="addCol(1,key)"> {{key2}}
        <ul ng-repeat="(key3,value3) in value2 track by $index">
        </li><input type="checkbox" ng-click="addCol(2,key)"> {{key3}}</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
