
<div class="row text-center">
  <h3 style="color:blue">All <span ng-show="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{model}}s</h3>
  <button class="btn btn-info" ui-sref="data.grid({model:model})">Export {{model}} data</button>
  <button class="btn btn-success" ui-sref="data.new({model:model})">Add New {{mode}}</button>
</div>
<hr>

<div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">Search by</span>
      <select class="form-control" ng-change="tableParams.reload()" ng-model="first" ng-options="property for property in properties"></select>
    </div>
      <input type="text" ng-model="tableParams.filter()[first]" class="form-control" placeholder="{{model}} {{first}}">
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">Search by</span>
      <select class="form-control" ng-change="tableParams.reload()" ng-model="second" ng-options="property for property in properties"></select>
    </div>
      <input type="text" ng-model="tableParams.filter()[second]" class="form-control" placeholder="{{model}} {{second}}">
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">Search by</span>
      <select class="form-control" ng-change="tableParams.reload()" ng-model="third" ng-options="property for property in properties"></select>
    </div>
      <input type="text" ng-model="tableParams.filter()[third]" class="form-control" placeholder="{{model}} {{third}}">
  </div>
</div>

<div class="table-responsive">
  <table ng-table="tableParams" class="table">
    <tr>
      <td><b>{{first}}</b></td>
      <td><b>{{second}}</b></td>
      <td><b>{{third}}</b></td>
      <td><b>View</b></td>
      <td><b>Delete</b></td>
    </tr>
    <tr ng-repeat="mod in $data | orderBy:[first,second,third]">
      <td>{{getColumn(mod,first)}}</td>
      <td>{{getColumn(mod,second)}}</td>
      <td>{{getColumn(mod,third)}}</td>
      <td><a class="btn btn-primary" ui-sref="data.view({model:model,id:mod.id})">View</a></td>
      <td><a class="btn btn-danger"  ng-click="delete(mod,mod.id)">Delete</a></td>
    </tr>
  </table>
</div>
