<div class="panel panel-primary">
  <div class="panel-heading text-center">
    <h3>Add a new {{model}} <div class="btn btn-danger btn-sm pull-left" type="button" class="close" aria-label="Close" ng-click="goBack()"><span aria-hidden="true">&times;</span></div></h3>
    <h4 style="color:orange">{{entity.NAME}} {{entity.SITE_NAME}}</h4>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form" ng-submit="save()">
        <div ng-include="'views/_form.html'"></div>
    </form>
  </div>
</div>
